.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    background-color: #f0f0f0;
    margin: 0px auto 5px auto;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    transition: all .3s;
    cursor: pointer;
}

.completed-item {
    text-decoration: line-through;
}

.item:hover {
    box-shadow: 2px 1px rgba(0, 0, 0, 0.158);
    transform: translateY(-1px);
}

.item:active {
    background-color: #e4ecf1;
    transform: translateY(-2px);
}

.item-content {
    display: flex;
}

.item button {
    background: transparent;
    color: rgb(238, 48, 48);
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.item button:hover {
    background-color: #97b2b480;
}

.completed {
    opacity: 0.7;
    background-color: #b9d7fd;
    color: #383838d5;
}