.app {
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    background: linear-gradient(to right, #8f94fb, #4e54c8);
}
.header {
    background-color: #4b52d8;
    height: 10vh;
    text-align: center;
    color: #e3e3e4;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-wrapper {
    height: 400px;
}

footer {
    height: 5vh;
    text-align: center;
    color: #e3e3e4;
}