.add-todo {
    margin: 10px 0px;
}

.add-todo input {
    width: 85%;
    height: 40px;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 0px 5px;
}

.add-todo button {
    height: 40px;
    width: 52px;
    font-size: 18px;
    outline: none;
    border: none;
    margin: 0px -3px;
    border-radius: 0px 2px 2px 0px;
    background-color: #2c43ac;
    color: #fff;
    cursor: pointer;
}

.add-todo button:hover {
    background-color: #20348b;
}

.error {
    margin: 5px auto;
    background-color: transparent;
    width: 95%;
    color: #ff9797;
    font-style: italic;
}